.table-brands {
  border: 2px white solid;
  border-collapse: collapse;
}

.table-brands th,
.table-brands td {
  border: 1px solid white;
  padding: 8px;
}

.table-brands th {
  background-color: black;
}

.average-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.average-container p:last-child {
  margin-top: -10px;
}

.average-container p {
  background-color: black;
  padding: 4px;
  border-radius: 10px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
